.presentation-page {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 1rem;
  margin: 10rem 0 10rem 10rem;
}

.left-block {
  margin: 1rem 0 0 5rem;
}

.right-block {}

img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: solid 3px black;
}

.btn-action {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0 1rem 0;
}

.presentation-page p {
  font-size: 1.5rem;
  margin: 10rem 10rem 0 10rem;
  text-align: auto;
}


@media only screen and (max-width: 768px) {

  .presentation-page p {
    margin: 10rem 2rem;
  }

  .left-block {
  margin: 30rem 0 0 0rem;
}
}
