.presentation-page {
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 1rem
}

.left-block {

}

.right-block {

}

img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 1rem black;
}

.presentation-page p {
    font-size: 1rem;
}