.presentation-page {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 1rem;
  margin: 14rem 0 8rem 14rem;
  align-items: center;
}

.left-block {
  margin: 1rem 0 0 5rem;
}

img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: solid 3px black;
}

.btn-action {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0 1rem 0;
}

.presentation-page p {
  font-size: 1.5rem;
  margin: 2rem 10rem 0 10rem;
  text-align: auto;
}

.title {
  margin: 0 0 0 10rem;
}

  .buttons-container {
    display: flex;
    gap: 4rem;
    margin: 0 8rem 0 8rem;
    flex-wrap: wrap;
  }

@media only screen and (max-width: 1400px) {

  .presentation-page {
    margin: 0 5rem 0 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-block {
    margin: 15rem 0 0 0rem;
  }

  .title {
    margin: 0 0 0 2rem;
  }

  .txt-container .txt {
    margin: 2rem 2rem;
  }

  .btn-action {
    font-size: 2rem;
  }

  .buttons-container {
    gap: 0;
  }
}
