.skills-and-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100vh;
  margin: 5rem 0 5rem 5rem;
}

.skill-badge {
  border-radius: 1rem;
  background-color: red;
  margin: 0.5rem;
  padding: 0.5rem
}

.skills-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
/* .skills {
  /* Styles pour la partie compétences
} */
/*
.projects {
  /* Styles pour la partie projets
} */
