  .headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
  }

  .iconContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .toggleTitleContainer{
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    gap: 1.5rem;
    font-weight: 400
  }

  ul {
    margin-right: 4rem;
  }

  ul li {
    list-style: none;
    display: inline;
    margin-right: 1rem;
    transition: transform 1s ease;
  }

  li:hover {
    color: var(--accentuation_color);
    transition: 0.5s ease-in-out;
  }

  .toggle-icon {
    margin:  0 1rem  0 0;
  }