.projects {
  max-height: 90vh;
  margin: 0 0 2rem 6rem;
}

.projects h2 {
  margin-left: 2rem;
}

.chrono {
  width: 70%;
  max-height: 70vh;
  height: 70vh;
}

@media only screen and (max-width: 1400px) {

  .projects {
    height: 90vh;
    margin: 0 0 5rem 1rem;
  }

  .chrono {
    max-height: 100vh;
  }
}
