.container {
  width: 70%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding-top: 4rem;
}

.projects h2 {
  margin-bottom: 2rem;
}

.carousel-container {
  display: flex;
  align-items: center;
  width: 40%;
  position: relative;
}

.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel.animating {
  transform: translateX(-100%);
}

.card-container {
  width: 100%;
  margin: 0;
  overflow: hidden;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-background {
  position: relative;
  width: 100%;
  padding-top: 125%;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
  border-radius: 5%;
}

.card-background div {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: left;
  box-sizing: border-box;
}

.card-title {
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
  color: var(--accentuation_color);
}

.card-subtitle {
  font-size: 1em;
  margin: 20px 0;
}

.card-text {
  font-size: 0.8em;
  margin: 0;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
  font-size: 1.5rem;
  padding: 1.25rem 1.5rem;
  border-radius: 25%;
  transition: 0.2s ease;
}

.carousel-button.left {
  left: -10rem;
}

.carousel-button.right {
  right: -10rem;
}

.carousel-button:hover {
  color: var(--accentuation_color);
  transition: 0.2s ease;
}

.carousel-component {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1400px) {
  .projects {
    height: 90vh;
    margin: 0 0 5rem 1rem;
  }
}
