:root {
  --bg_dark_color: #282c34;
  --text_color: #f7f7f7;
  --accentuation_color: #63E6BE;
}

html {
  scroll-behavior: smooth;
}

.App {
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100%;
  width: 100%;
  background-color: var(--bg_dark_color);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--text_color);
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

span {
  font-weight: 600;
}

span:hover{
  color: var(--accentuation_color);
  transition: 0.5s ease-in-out;
}

.btns-containers{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  width:100%;
  margin:0;
}

.hand-icon {
  display: inline-block;
}

.hand-icon:hover {
  animation: handWave 1s ease infinite;
}

@keyframes handWave {
  0% { transform: rotate(-20deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(-20deg); }
}