.light-theme {
  --bg_color: #f7f7f7;
  --text_color: #282c34;
  --accentuation_color: #63E6BE;
  --border_img_color: #282c34;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-theme {
  --bg_color: #282c34;
  --text_color: #f7f7f7;
  --accentuation_color: #63E6BE;
  --border_img_color: #63E6BE;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 3rem;
  margin: 0;
}

.App {
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100%;
  width: 100%;
  background-color: var(--bg_color);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--text_color);
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  margin-top: 1rem;
  background-color: var(--background_color);
}

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  font-size: 10rem;
  align-items: center;
  height: 100vh;
}

.welcome-text {
  margin-left: 2rem;
  margin-top: 2rem;
}

p span {
  font-weight: 600;
}

p span:hover {
  color: var(--accentuation_color);
  transition: 0.5s ease-in-out;
}

.btns-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  width: 100%;
  margin: 0;
  gap: 5rem;
}

.hand-icon {
  display: inline-block;
}

.hand-icon:hover {
  animation: handWave 1s ease infinite;
}

.presentation-section .skills .projects {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  p {
    font-size: 1rem;
  }
}

.bouncy-animated:hover {
  animation: bouncy 0.5s ease;
}

@keyframes handWave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-20deg);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-element {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 0.5rem;
  }

  .App-header {
    font-size: 0.5rem;
  }
}
